<div class="jumbotron mt-4">
    <h1 class="dispaly-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi commodi amet nemo? Asperiores
        exercitationem aliquid commodi quos ipsa incidunt, illum delectus tenetur neque accusamus quibusdam error
        repellat dicta soluta!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quis pariatur non nostrum? Assumenda voluptate
        deserunt ut vero at, in unde, soluta nulla nisi modi eos animi minima, veniam suscipit?</p>
    <a href="#" class="btn btn-primary btn-lg"> Notes</a>
</div>