
.filaBuscador{
    flex-direction: row;
    justify-content: space-between;
}

.cancelBtn{
    visibility: hidden;
}

.opensright{
    margin-top:-45px;
}

@media (min-width: 1150px) {
    .opensright{
        width: 83vh;
        margin-top:-45px;
    }
  }

  @media (max-width: 580px) {
    .opensright{
        visibility: hidden;
    }
  }

  .Buscador{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
