.filaBuscador {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .cancelBtn {
    visibility: hidden;
  }
  
  .daterangepicker .drp-buttons .btn {
    text-indent: -9999px !important;
    line-height: 0 !important;
  }
  
  .daterangepicker .drp-buttons .btn::after {
    content: "Aplicar";
    text-indent: 0 !important;
    display: block !important;
    line-height: initial !important;
  }
  
  .opensright {
    margin-top: -45px;
  }
  
  .Buscador2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    transition: top 0.5s ease-out;
  }

  .Buscar{
    margin-right:15px ;
  }