.filaBuscador {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .cancelBtn {
    visibility: hidden;
  }
  
  .daterangepicker .drp-buttons .btn {
    text-indent: -9999px !important;
    line-height: 0 !important;
  }
  
  .daterangepicker .drp-buttons .btn::after {
    content: "Aplicar";
    text-indent: 0 !important;
    display: block !important;
    line-height: initial !important;
  }
  
  .opensright {
    margin-top: -45px;
  }
  
  .Buscador {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  