.Header {
    background-color: #383838;
    display: grid;
    grid-template-areas: "logo nav";
    padding: 2vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.Header .Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.carrito{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    align-items: center;
}

.carrito > span{
    background-color: #f0ad4e;
    border-radius: 50%;
    padding: 0.8vh 0.8vw;
}

.LogoHeader {
    grid-area: logo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    font-size: x-large;
}

.Header a {
    text-decoration: none;
}

.Header a:hover {
    color: #f0ad4e;
}

.Burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
}

.Burger:active {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .Header {
        grid-template-areas: "logo burger" "nav nav";
        padding-bottom: 0;
    }
    .Nav {
        padding: 2vh 0;
        background: rgba(40, 44, 47, 0.95);
    }
    .Burger {
        display: inline;
    }
}

.NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
}

.NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
}

.NavAnimation-exit {
    opacity: 1;
}

.NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
}