.contCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.colItems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 5vh;
    padding: 8vh;
    justify-content: flex-start;
    text-align: justify;
}

.colItems h4{
    text-transform: uppercase;
    margin: 0;
    grid-column: 1/3;
}

.colPrices {
    display: grid;
    border-left: 1px solid rgba(0, 0, 0, .5);
    grid-template-rows: repeat(3,auto);
    row-gap: 2vh;
    justify-content: center;
    align-content: center;
    padding: 2vh;
    padding-left: calc(2vh + 15px);
}

.colPrices h2{
    text-transform: uppercase;
    margin: 0;
}

.colPrices img{
    width: 20vw;
    height: 30vh;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.colPrices > .btn{
    max-width: 15vw;
    justify-self: center;
    cursor: pointer;
    margin: none;
}

.btn-block + .btn-block{
    margin: 0 !important;
}

.container {
    margin-bottom: 2vh;
}