.page {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 2em;
    text-align: center; 
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    padding: 5vh;
    overflow: hidden;
}

.page h1{
  color: #000000;
}

.page .all_cards{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 170px 170px;
    gap: 1em;
    padding-left: 25vh;
    padding-right: 25vh;
}

.page .all_cards div{
  justify-content: center;
  display: inline-flex;
}
  
.page .card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.page .card_act {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 2.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #f0ad4e;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -5px 7px 0px 0px rgba(0, 0, 0,0.1);
}

.page .card_act:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0,0.1);
  transform: scale(0.80, 0.80);
}

.page .card_toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 2.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: green;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -5px 7px 0px 0px rgba(0, 0, 0,0.1);
}

.page #card-1:checked{
  transform: scale(0.80, 0.80);
}