.container-ActivitiesData{
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}

.activitieForm{
    padding: 4vh;
    box-shadow: 0 4px 8px 0 rgba(0.5, 0.5, 0.5, 0.5);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6,auto);
    row-gap: 2em;
    column-gap: 3em;
    align-items: center;
    justify-items: center;
}

.container-ActivitiesData h1{
    grid-column: 1/4;
}

.container-ActivitiesData .guardar{
  grid-column: 3/4; 
}

.container-ActivitiesData .selectedImage{
  grid-column: 2/4; 
}

.inp textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    transition: all 0.15s ease;
  }
  .inp textarea:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-10px) scale(0.8);
  }
  .inp textarea:focus {
    background: none;
    outline: none;
  }
  .inp textarea:focus + span {
    color: #f0ad4e;
    transform: translateY(-10px) scale(0.8);
  }
  .inp textarea:focus + span + .border {
    transform: scaleX(1);
  }