.Hotel {
  text-align: center;
  padding: 5vh;
}

.containerHotel{
  border:2px solid rgba(0,0,0,.5);
  background-color: #e9ecef;
  margin-top:10px;
  margin-bottom: 10px;
}

.colPrices{
  border-left: 1px solid rgba(0,0,0,.5);
  padding-top: 5%;
  padding-bottom: 5%;
}

.priceInformation{
  height: 100%;
}