.PerfilProveedor{
    justify-content: center;
    margin: auto;
}

.tarjetaIFinanciera{
    height: 300px;
    margin: auto;
    width: 97%;
    margin-bottom: 70px;
}

.tituloTarjeta{
    background: #fcc438;
    width: 100%;
    height: 15%;
    border: 2px solid #000000;
    justify-content: center;
}

.tituloTarjeta p{
    margin-top: 6px;
}

.bodyIFinanciera{
    width: 100%;
    height: 85%;
    background: #e5e5e5;
    border: 2px solid #000000;
    margin-top: -4px;
}

.tarjetaServicios{
    height: 300px;
    margin: auto;
    width: 97%;
    margin-bottom: 70px;
}

.bodyServicios{
    width: 100%;
    height: 85%;
    background: #e5e5e5;
    border: 2px solid #000000;
    margin-top: -4px;
    
}

.Josefin{
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
}

.titulos{
    text-align: center;
    padding-top: 20px;
}

.InfoFinanciera{
    width: 100%;
    height: 165px;
    border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    border: 2px dotted #000000;
}

.Historial{
    border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    width: 99.6%;
    height: 100%;
    text-align: left;
    overflow: auto;
}

.Historial::-webkit-scrollbar{
    width: 11px;
    height: 8px;
}
  
.Historial::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 4px;
}

.Historial::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.Historial::-webkit-scrollbar-thumb:hover {
background: #b3b3b3;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.Historial::-webkit-scrollbar-track {
background: #e1e1e1;
border-radius: 100px;
border: 1px solid white;
margin: 18px;
}

.Historial::-webkit-scrollbar-track:hover, 
.Historial::-webkit-scrollbar-track:active {
background: #d4d4d4;
}

.Historial p{
    margin: 0;
    margin-left: 20px;
    width: 70%;
}

.AgregarB{
    border-radius: 54px 54px 54px 54px;
    -moz-border-radius: 54px 54px 54px 54px;
    -webkit-border-radius: 54px 54px 54px 54px;
    border: 2px solid #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 11px;
    padding: 2px 15px;
    margin-top: 5px;
    background: #fcc438;
    float: right;
}

.AgregarB:hover{
    background: #ffffff;
    border: 2px solid #000000;
}

.LogoS{
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: auto;
}

.LogoS img{
    width: 100%;
    height: auto;
}

@supports(object-fit: cover){
    .LogoS img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
    }
}